.main {
    position: relative;
    background-color: black;
}

.div1 {
    display: flex;
}

.section {
    display: flex; 
    flex: 1 1 0%; 
    min-height: 100vh;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-top: 112px;

}

@media (min-width: 768px) {
    .section {
        padding-bottom: 56px;
    }
}

@media (min-width: 640px) {
    .section {
        padding-left: 56px;
        padding-right: 56px;
    }
}

.div2 {
    width: 100%;
}