.section {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 40px;
    color: #F5F5F5;
}

@media (max-width: 768px) {
    .section {
       height: 500px ;
    }
}

.div1 {
    height: 300px;
    width: 100%;
    border-radius: 20px;
    background-color: #111011;
}
@media (max-width: 768px) {
    .div1 {
       height: 400px ;
    }
}

.div2 {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
        padding-right: 20px;
        padding-top: 32px;
        padding-bottom: 32px;
}

@media (max-width: 768px) {
    .div2 {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@media (max-width: 1024px) {
    .div2 {
        padding:  44px;
    }
}

.textarea{
    background-color: #F5F5F5;
    color: #111011;
}

.button {
    max-width: 200px;
    background-color: #F5F5F5;
    color: #111011;
}
.button:hover {
    background-color:#73B4C9 ;
}

.h1{
  font-size:  60px ;
  line-height: 40px ;
  font-weight: 800;
}

@media (max-width: 1024px) {
    .h1 {
        font-size: 30px;
        font-weight: 600;
        line-height: 1;
    }
}
@media (max-width: 768) {
    .h1 {
        font-size: 20px;
        font-weight: 400;
    }
}

.h2{
    width: auto;
    font-size:  16px;
    line-height: 24px;
    font-weight: 400;
}

@media (max-width: 1024px) {
    .h2 {
        font-size: 15px;
        line-height: 1;
    }
}
@media (max-width: 525) {
    .h2 {
        font-size: 14px;
        line-height: 1;
    }
}


